/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
  }

  :root {
  --off-white: hsl(0, 0%, 98%);
  --md-grey: hsl(0, 0%, 41%);
  --alm-black: hsl(0, 0%, 8%);
  --border-radius: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--off-white);
    font-weight: 500;
    line-height: 1.5;
  }

  img {
    width: 100%;
    display: block;
  }

  ul {
    padding-left: 0;
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: grey;
    font-size: 14px;
  }

  .btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 1px solid grey;
    border-radius: 10px;
  }

  btn:hover {
    background-color: grey;
    color: yellow;
  }

/* Personalized styling */
.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.8rem;
  margin-block: 0.8rem 2rem;
  width: 100%;
}

.header .logo {
  width: 5rem;
}

.nav-toggle {
  background-color: transparent;
  padding: 0.3rem 0.5rem;
  border: 0;
}

.navbar {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 50px;
}

.nav-link {
  display: inline-block;
}

.nav-link + .nav-link {
  margin-left: 30px;
}

.icon {
  font-size: 10px;
  margin-left: 3px;
}

.nav-btns {
  display: flex;
  gap: 5px;
}

.login-btn {
  border-color: transparent;
}

.remote {
  display: flex;
  flex-direction: column;
}

.hero-content {
  padding: 1.5rem 0.5rem;
  margin-top: 30px;
  text-align: center;
}

.hero-header {
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 1.2;
}

.hero-message {
  color: var(--md-grey);
  margin-block: 30px;
  padding-inline: 0.8rem;
}

.hero-btn {
  margin-inline: auto;
  padding: 0.8rem 1.2rem;
  font-weight: 700;
  background-color: var(--alm-black);
  color: var(--off-white);
  border-color: transparent;
}

.hero-btn:hover {
  color: var(--alm-black);
  background-color: var(--off-white);
  border: 1px solid var(--md-grey);
}

.hero-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10px;
  margin-top: 50px;
}

.hero-logo {
  max-width: 70px;
}

@media (min-width: 768px) {
  .header {
    margin-top: 20px;
  }
  
  .navbar {
    display: flex;
  }

  .nav-toggle {
    display: none;
  }

  .image {
    display: none;
  }

  .remote {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5rem 3rem;
    padding-bottom: 20px;
    margin-top: 70px;
    /* max-height: 100vh; */
  }

  .hero-content {
    text-align: left;
    padding-block: 100px 0;
    padding-inline: 0;
    margin-right: 50px;
    height: 100%;
  }

  .hero-btn {
    margin-inline: 0;
    padding: 1rem 1.5rem;
    font-size: 16px;
  }

  .hero-header {
    font-size: 3.8rem;
  }

  .hero-message {
    padding-inline: 0;
    font-size: 20px;
    width: 500px;
    margin-bottom: 70px;
  }

  .image {
    display: block;
    width: 30rem;
  }
  .hero-logos {
    padding-inline: 0 auto;
    justify-content: left;
    margin-top: 8rem;
  }

  .hero-logo {
    max-width: 300px;
    margin-right: 30px;
  }
}